<meta name="viewport" content="width=device-width">
<style>

    
    .nav0 {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;
    }
    
    .nav1 {
      width: 20%;
      float: left;
      z-index: 3;
    }
    
    .nav2 {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      z-index: 3;
    } 


    </style>


<header >
    <nav>
        <ul class="nav0">
            <li class="nav1"><a class="nav2" href="/map">Map</a></li>
            <li class="nav1"><a class="nav2" href="/users/userprofile">User Profile</a></li>
            <li class="nav1"><a class="nav2" href="/case">Register Case</a></li>
            <li class="nav1"><a class="nav2" href="/exposure">Exposure to covid</a></li>
            <li class="nav1"><a class="nav2" href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>